* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

input,select {border:0; outline:0;} 
input:focus {outline:none!important;}

body {
    background: linear-gradient(270deg, rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,7));
    background-size: 600% 600%;

    -webkit-animation: back 10s ease infinite;
    -moz-animation: back 10s ease infinite;
    -o-animation: back 10s ease infinite;
    animation: back 10s ease infinite;
}

@-webkit-keyframes back {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes back {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes back {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes back {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#container_titulo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-direction: row;
}

#caixa {
    border-radius: 5px;
    width: 400px;
}

#titulo_top {
    color: white;
    text-align: center;
    text-decoration: underline;
    padding: 10px;
    margin-bottom: 10px;
    text-shadow: grey 0px 0px 15px;
    font-size: 40px;
}

#row_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: solid rgb(190, 190, 190) 2px;
    padding: 10px;
}

#row_ p {
    color: white;
    font-size: 1.25em;
}

input {
    color: black;
    text-align: center;
    height: 30px;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.25em;
    width: 50px;
}

img {
    width: 30px;
    height: 30px;
}

#cashFinal {
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
}

#boxCash {
    display: flex;
    flex-direction: column;
}

#preco_final, #preco_metade {
    color: white;
}

button {
    background-color: transparent;
    border: none;
}

button:hover{
    opacity: 70%;
}

#inputInc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
}

#creditos {
    display: flex;
    color: white;
    width: 150px;
    border-radius: 10px;
    align-items: center;
    background: linear-gradient(90deg, #000000, #0051ff, #00e1ff);
    background-size: 600% 600%;
    -webkit-animation: dolla 4s ease infinite;
    -moz-animation: dolla 4s ease infinite;
    animation: dolla 4s ease infinite;
    justify-content: space-around;
    position: absolute;
    right: 25px;
    bottom: 25px;
}

@-webkit-keyframes dolla {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes dolla {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes dolla {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#resetAll {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    position: absolute;
    left: 25px;
    bottom: 25px;
    background: linear-gradient(90deg, #ff0000, #ff5e00);
    background-size: 400% 400%;
    -webkit-animation: reset 4s ease infinite;
    -moz-animation: reset 4s ease infinite;
    -o-animation: reset 4s ease infinite;
    animation: reset 4s ease infinite;
}

@-webkit-keyframes reset {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes reset {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes reset {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes reset {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#resetAll h1 {
    color: white;
    text-shadow: black 0px 0px 5px; 
}

#txtCopy {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    position: absolute;
    left: 25px;
    bottom: 75px;
    color: white;
    text-shadow: black 0px 0px 5px; 
    background: linear-gradient(180deg, #00ff0d, #8d00ff);
    background-size: 400% 400%;
    -webkit-animation: copiar 4s ease infinite;
    -moz-animation: copiar 4s ease infinite;
    -o-animation: copiar 4s ease infinite;
    animation: copiar 4s ease infinite;
}

@-webkit-keyframes copiar {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes copiar {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-o-keyframes copiar {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes copiar {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
