* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgba(200, 200, 200, 1);
}

input,select {border:0; outline:0;} 
input:focus {outline:none!important;}
::-webkit-scrollbar{
    display: none;
}

#container_titulo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-direction: row;
}

#caixa {
    border-radius: 5px;
    width: 400px;
}

#titulo_top {
    color: white;
    text-align: center;
    text-decoration: underline;
    padding: 10px;
    margin-bottom: 10px;
    text-shadow: black 0px 0px 15px;
    font-size: 40px;
}

#row_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: solid rgb(190, 190, 190) 2px;
    padding: 10px;
}

#row_ p {
    color: white;
    font-size: 1.25em;
}

input {
    color: black;
    text-align: center;
    height: 30px;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.25em;
    width: 50px;
}

img {
    width: 30px;
    height: 30px;
}

button {
    background-color: transparent;
    border: none;
}

button:hover{
    opacity: 70%;
}

#inputInc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
}

#imgCFG {
    position: absolute;
    left: 0%;
    top: 0%;
}

#cfgIcon{
    width: 40px;
    height: 40px;
}
#topHeader {
    position: relative;
    margin-left: 75px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 3px;
    width: 250px;
}

#checkBoxCustom {
    display: flex;
    align-items: center;
    padding: 5px;
}

#checkBoxCustom p {
    color: whitesmoke;
}

#chkCC {
    display: flex;
    align-items: center;
    justify-content: center;
}

#chkCustomColor{
    width: 99%;
    border: none;
    background-color: transparent;
}

#mainBox {
    display: block;
    margin: 50px auto;
    width: 450px;
    padding: 20px;
    border-radius: 10px;
}

#boxCash {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: solid 1px whitesmoke;
    border-radius: 10px;
}

#boxCash div {
    display: flex;
    align-items: center;    
}
#boxCash h1 {
    color: white;
    margin-left: 10px;
    text-shadow: black 1px 1px 10px;
}

.iconHeader {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin: 10px;
    padding: 5px;
    border-bottom: solid 2px white;
    border-top: solid 2px white;
    border-radius: 5px;
}

#btnClick {
    position: absolute;
    bottom: 0%;
}

footer h1 {
    text-shadow: black 1px 1px 10px;
}

#Creditos {
    position: absolute;
    right: 0%;
    bottom: 0%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    margin: 10px;
    padding: 5px;
    border-bottom: solid 2px white;
    border-top: solid 2px white;
    border-radius: 5px;
}

#Creditos:hover, .iconHeader:hover{
    border: 3px double;
}

#row_ p {
    text-shadow: black 1px 1px 10px;
}
